@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9664 0.0059 59.6516);
  --foreground: oklch(0.2255 0.0531 55.9672);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2255 0.0531 55.9672);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.8589 0.1526 89.566);
  --primary-foreground: oklch(0.2255 0.0531 55.9672);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.2255 0.0531 55.9672);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.4849 0.032 59.8039);
  --accent: oklch(0.9664 0.0059 59.6516);
  --accent-foreground: oklch(0.2255 0.0531 55.9672);
  --destructive: oklch(0.5546 0.197 26.5288);
  --destructive-foreground: oklch(0.5906 0.2267 7.0042);
  --border: oklch(0.2255 0.0531 55.9672);
  --input: oklch(1 0 0);
  --ring: oklch(0.2255 0.0531 55.9672);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 1rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #2e1401;
  --shadow-2xs: 2px 2px 3px 0px hsl(25.3333 95.7447% 9.2157% / 0.05);
  --shadow-xs: 2px 2px 3px 0px hsl(25.3333 95.7447% 9.2157% / 0.05);
  --shadow-sm:
    2px 2px 3px 0px hsl(25.3333 95.7447% 9.2157% / 0.1),
    2px 1px 2px -1px hsl(25.3333 95.7447% 9.2157% / 0.1);
  --shadow:
    2px 2px 3px 0px hsl(25.3333 95.7447% 9.2157% / 0.1),
    2px 1px 2px -1px hsl(25.3333 95.7447% 9.2157% / 0.1);
  --shadow-md:
    2px 2px 3px 0px hsl(25.3333 95.7447% 9.2157% / 0.1),
    2px 2px 4px -1px hsl(25.3333 95.7447% 9.2157% / 0.1);
  --shadow-lg:
    2px 2px 3px 0px hsl(25.3333 95.7447% 9.2157% / 0.1),
    2px 4px 6px -1px hsl(25.3333 95.7447% 9.2157% / 0.1);
  --shadow-xl:
    2px 2px 3px 0px hsl(25.3333 95.7447% 9.2157% / 0.1),
    2px 8px 10px -1px hsl(25.3333 95.7447% 9.2157% / 0.1);
  --shadow-2xl: 2px 2px 3px 0px hsl(25.3333 95.7447% 9.2157% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.275 0 0);
  --input: oklch(0.325 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --font-sans: Poppins, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 1rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 2px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 2px 2px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    2px 2px 3px 0px hsl(0 0% 0% / 0.1), 2px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 2px 2px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  /* --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px); */

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@theme {
  --color-neutral-900: #2e1401;
  --color-neutral-600: #6d5b4d;
  --color-neutral-100: #f7f3f0;
  --color-neutral-0: #ffffff;
  --color-yellow-500: #f8cb46;
  --color-blue-400: #92adeb;
  --color-blue-600: #5072c7;
  --color-teal-400: #47d9c9;
  --color-pink-400: #fc8ae5;
  --color-pink-500: #f073a3;
  --color-pink-700: #e11966;
}

@utility text-preset-1 {
  @apply text-[24px] leading-[120%] font-bold;
}
@utility text-preset-1-tablet {
  @apply text-[32px] leading-[120%] font-bold;
}
@utility text-preset-1-desktop {
  @apply text-[40px] leading-[120%] font-bold;
}

@utility text-preset-2 {
  @apply text-[24px] leading-[120%] font-semibold;
}

@utility text-preset-3 {
  @apply text-[20px] leading-[120%] font-semibold;
}

@utility text-preset-4-regular {
  @apply text-[16px] leading-[140%] font-normal;
}
@utility text-preset-4-medium {
  @apply text-[16px] leading-[140%] font-medium;
}
@utility text-preset-4-semibold {
  @apply text-[16px] leading-[120%] font-semibold;
}
@utility text-preset-5-regular {
  @apply text-[14px] leading-[140%] font-normal;
}
@utility text-preset-5-medium {
  @apply text-[14px] leading-[140%] font-medium;
}
@utility text-preset-6 {
  @apply text-[12px] leading-[130%] font-medium tracking-[-3%];
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
